page-add-transaction {

	p {

	}

    .primary-select {
    	background-color: #fff;
        color: #666;
        border-radius: 15px;
    }
    
	.toolbar-background-md {
    	border-color: #c93145;
    	background: #c93145;
	}

	.toolbar-title-md {
	    color: #fff;
	}

	.ion-md-arrow-back:before {
    	color: #fff;
	}

	.ion-md-menu:before {
	    color: #fff;
	}

	.btn-green {
    background-color: #1cb545;
    padding: 20px 50px !important;
    width: 100%;
    margin-top: 30px;
  }
    
    ion-input {
        input {
          text-align: right;
          /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
          ::-webkit-input-placeholder {
            text-align: right;
          }
        }
    }

  .text-input-md {
    margin: 13px 0px;
  }
    
}
