page-home {

	p {

	}

	.bgred {
		background-color: #c93145;
	}

	.toolbar-background-md {
    	border-color: #c93145;
    	background: #c93145;
	}

	.ion-md-menu:before {
		color: #fff;
	}

	.header-md::after {
		display: none;
	}

	.firsthome {
		width: 50%;
		margin: -15px auto;
		position: relative;
	}

	.firsthome img {
		height: 150px;
		width: auto;
		background-color: #fff;
		border-radius: 50%;
		padding: 5px;
		box-shadow: 0px 1px 2px #666;
	}

	.camerapic {
		position: absolute;
		top: 50px;
		right: 20px;
		opacity: 0.5;
	}

	img.noneassets {
		width: 30px;
		background-color: transparent !important;
		border-radius: 0 !important;
		padding: 0 !important;
		-webkit-box-shadow: none;
		box-shadow: none !important;
	}

	.titlehome {
		margin-top: 30px;
		color: #fff;
		font-size: 16px;
		text-align: center;
		z-index: 11;
		position: absolute;
		right: 10px;
		top: -20px;
	}

	.boldhome {
		font-size: 24px;
		font-weight: 600;
		vertical-align: baseline;
	}

	section.contenthome {
		margin-top: 30px;
	}

	.contenthome h2 {
		margin-top: 0;
		color: #fff;
		font-weight: 600;
	}

	.contenthome h3 {
		font-size: 16px;
		color: #fff;
		margin-bottom: 0;
	}

	.contenthome p {
		color: #fff;
	}

	.colnopadding {
		padding: 0px !important;
	}

	section.categoryhome img {
		height: 40px;
		margin: auto;
	}

	section.categoryhome p {
		color: #fff;
		font-weight: 600;
		text-align: center;
		line-height: 1.2;
		font-size: 1.2rem;
	}

	.radius10 {
		border-radius: 10px;
	}

	.card-md {
		background: rgba(214, 92, 108, 0.8);
		/*-webkit-box-shadow: 0px 0px 5px #d96381;*/
		/*box-shadow: 0px 0px 5px #d96381;*/
	}

	.text-right {
		text-align: right;
	}

	.marginbotmin1 {
		margin-bottom: 0px;
		text-align: center;
	}

}