<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Home</ion-title> -->
  </ion-navbar>
</ion-header>

  <div class="titlehome">
    <!-- Halo, <span class="boldhome">Amul</span> -->
  </div>

<ion-content class="bgred">

  <ion-item>
    <ion-label>Account</ion-label>
    <ion-select [(ngModel)]="accountDefault" name="accountDefault" (ionChange)="getAccountSelect($event)">
      <ion-option value="new">Buat Baru</ion-option>
      <ion-option *ngFor="let item of accountsData" [value]="item.id" >
          {{item.name}}
        </ion-option>
    </ion-select>
  </ion-item>

  <section>
    <div class="firsthome">
    </div>
    
  </section>

  <section class="contenthome">
    <!-- <h3>Your Balance</h3>
    <h2 style="text-align: right;">{{saldo | currency:'IDR ':false}}</h2> -->
  </section>

  <section class="categoryhome">
    <div class="row">
      <div class="col colnopadding">
        <ion-card class="radius10" (click)="openTransactionActivity()">
          <ion-list>
            <ion-item>
              <div class="row" style="color:teal;font-weight: 500;">
                <div class="col col-6">
                  Your Balance
                </div>
                <div class="col col-6 text-right">
                  {{saldo | currency:'IDR ':false}}
                </div>
              </div>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>
    </div>
  </section>
  
  <section class="categoryhome">
    <div class="row">
      <div class="col colnopadding">
        <ion-card class="radius10" (click)="openTransactionActivity()">
          <ion-list>
              <!-- <ion-list-header class="marginbotmin1">
                Ringkasan Bulan {{monthNow}}
              </ion-list-header> -->
              <ion-item>
                <div class="row">
                  <div class="col col-6">
                    <div id="pieChart" style="display: block;max-height: 100px"></div>
                  </div>
                  <div class="col col-6 text-right">
                    <p style="color:teal;text-align:left !important;">
                      Total Masuk {{totalIncome | currency:'IDR ':false}}
                    </p>
                    <p style="color: tomato;text-align:left !important;">
                      Total Keluar {{totalExpense | currency:'IDR ':false}}
                    </p>
                    <p>
                      Riwayat Transaksi
                    </p>
                    <p *ngFor="let item of transactionList" [ngStyle]="{'color':item.type === 'in' ? 'teal' : 'tomato' }">
                      {{item.category}} {{item.amount | currency:'IDR ':false}}
                    </p>
                  </div>
                </div>
              </ion-item>
            </ion-list>

        </ion-card>
      </div>
    </div>
  </section>

  <section class="categoryhome">
    <!-- <div class="row">
      <div class="col colnopadding">
        <ion-card class="radius10" (click)="openAddTransaction()">
          <ion-card-header>
            <img src="assets/imgs/wallet.svg">
          </ion-card-header>

          <ion-card-content>
            <p>Tambah Transaksi</p>
          </ion-card-content>

        </ion-card>
      </div>
      <div class="col colnopadding">
        <ion-card class="radius10" (click)="openCostPage()">
          <ion-card-header>
            <img src="assets/imgs/startup.svg">
          </ion-card-header>

          <ion-card-content>
            <p>Catatan Transaksi</p>
          </ion-card-content>

        </ion-card>
      </div>
    </div> -->
    <div class="row">
      <div class="col colnopadding">
        <ion-card class="radius10" (click)="openReportPage()">
          <ion-card-header>
            <img src="assets/imgs/diagram.svg">
          </ion-card-header>

          <ion-card-content>
            <p>Report</p>
          </ion-card-content>

        </ion-card>
      </div>
      <div class="col colnopadding">
        <ion-card class="radius10" (click)="openSettingPage()">
          <ion-card-header>
            <img src="assets/imgs/controls.svg">
          </ion-card-header>

          <ion-card-content>
            <p>Setting</p>
          </ion-card-content>

        </ion-card>
      </div>
    </div>
  </section>
  <ion-fab bottom right>
    <button ion-fab color="lightyellow" (click)="openAddTransaction()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>

</ion-content>