page-tabunganku {

	p {

	}

	.toolbar-background-md {
    	border-color: #d85f70;
    	background: #d85f70;
	}

	.toolbar-title-md {
	    color: #fff;
	}

	.ion-md-arrow-back:before {
    	color: #fff;
	}

	.ion-md-menu:before {
	    color: #fff;
	}

	.btn-red {
		background-color: #d85f70;
		padding: 20px 50px !important;
	}

}