page-history {

	p {

	}

	.toolbar-background-md {
    	border-color: #d85f70;
    	background: #d85f70;
	}

	.toolbar-title-md {
	    color: #fff;
	}

	.ion-md-arrow-back:before {
    	color: #fff;
	}

	.ion-md-menu:before {
	    color: #fff;
	}

	.list-history {
		margin-top: 20px;
	}

	p.tabunganku {
		color: rgb(144, 237, 125);
	}

	p.cost {
		color: #d85f70;
	}

}
