page-cost {

	p {

	}

	.toolbar-background-md {
    	border-color: #c93145;
    	background: #c93145;
	}

	.toolbar-title-md {
	    color: #fff;
	}

	.ion-md-arrow-back:before {
    	color: #fff;
	}

	.ion-md-menu:before {
	    color: #fff;
	}

	.btn-red {
		background-color: #c93145;
		padding: 20px 50px !important;
		width: 100%;
		margin-top: 30px;
	}

	.btn-green {
		background-color: #1cb545;
		padding: 20px 50px !important;
		width: 100%;
		margin-top: 30px;
	}

	.tabs {
    	z-index: 10;
  	}

}
