page-setting {

	p {

	}

	.toolbar-background-md {
    	border-color: #c93145;
    	background: #c93145;
	}

	.toolbar-title-md {
	    color: #fff;
	}

	.ion-md-arrow-back:before {
    	color: #fff;
	}

	.ion-md-menu:before {
	    color: #fff;
	}

	.iconbig {
		font-size: 7rem;
	}

}